@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

body {
    margin: 0px;
    padding: 0px;
}

/* Shared Styles */
.display-flex {
    display: flex;
}

.orange {
    color: #E6533C;
}

.white {
    color: white;
}

.light-gray {
    color: rgba(255, 255, 255, 0.5);
}

.btn-primary {
    background: #E6533C;
    color: white;
    padding: 16px 45px;
    border-radius: 42px;
    border: none;
    font-size: 1.125rem;
    font-weight: 600;
}

.font {
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
}


/* Header styles */

header {
    max-width: 100%;
     
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.brand {
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 1.125rem;

}

.navbar {

    justify-content: space-between;
    align-items: center;
    margin: 0 190px;

}

.nav-links {
    gap: 45px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 20px;
    align-items: center;

}

.fitness {
    justify-content: space-between;
    margin: 0 190px;
    padding: 0;
}
.fitness-content{
    max-width: 520px;
    /* max-height: 440px; */
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #E6533C;
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    align-items: center;
}

.fitness-title {
    font-size: 4.875rem;
    font-weight: 900;
    color: white;
    max-width: 520px;
    margin-bottom: 28px;
}

.fitness-description {
    max-width: 520px;
    margin-bottom: 28px;

}

.pic {
    max-width: 349px;
    max-height: 580px;
}

.btn-secondary {
    border: 2px solid rgb(255, 255, 255);
    color: white;
    padding: 16px 45px;
    border-radius: 42px;
    font-size: 1.125rem;
    font-weight: 600;
    background: black;
    margin-left: 14px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E6533C;
    margin-top: 15px;
}

.blur-box-1 {
    position: relative;
    left: -150px;
    top: -200px;
    width: 206px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    align-items: center;
    justify-content: center;
    gap: 8px;


}

.content {
    max-width: 108px;
}

.number {
    font-size: 1.5rem;
    font-weight: 900;
    color: #FAFAF9;
    margin-bottom: 8px;
}

.des {
    color: rgb(239, 237, 232, 0.65);
    margin-top: 0px;

}

.blur-box-2 {
    position: relative;
    left: 225px;
    top: -550px;
    width: 193px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
     
    text-align: center;
}

main {
    background: black;
}

.change-habit {
    max-width: 1044px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 12px;

}

.habit-text {
    max-width: 671px;
    text-align: center;
    margin-top: 100px;

}

.habit-title {
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 14px;
}

.habit-description {
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0px;
}

.habit-image {
    max-width: 180px;
    max-height: 180px;
    border-radius: 100%;
    margin-bottom: 30px;
}

.image-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.habit-content {
    max-width: 231px;
}

.habits {
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
}

.run-extra {
    border-radius: 18px;
    background: rgb(34, 34, 34);
    max-width: 1060px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 160px;
    margin-top: 70px;
}

.run-img {
    max-width: 366px;
    max-height: 312px;
    border-radius: 18px;
}

.run-content {
    max-width: 443px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.exercise-content {
    max-width: 671px;
}

.exercises {
    max-width: 1060px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}

.img-container {

    max-height: 200px;

}

.img-container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.img-1 {

    max-width: 250px;
}

.img-2 {
    max-width: 539px;
}

.img-3 {

    max-width: 290px;
}

.img-4 {
    max-width: 425px;


}

.img-5 {
    max-width: 288px;

}

.img-6 {
    max-width: 347px;

}

.bmi-content {
    max-width: 671px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}

.bmi-section {
    background: rgb(34, 34, 34);

}

.bmi {
    justify-content: space-between;
    /* align-items: center; */
    margin: 0 180px;


}

.table-title {
    font-size: 1.75rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-top: 52px;
}

table {
    max-width: 310px;
}

table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

th {
    font-weight: 500;
    color: rgb(255, 255, 255);
}

td {
    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}

.calculation-title {
    font-size: 1.75rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-top: 52px;
}

.calculation-title,
.calculation-description {
    max-width: 577px;

}

input,
select {
    background-color: transparent;
    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    padding: 13px;
}

.container {
    max-width: 577px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1);
    gap: 12px;
}

#box-5 {
    grid-column: span 2;
}

.bmi-button {
    margin-top: 25px;
    margin-bottom: 52px;
}

.calculation-title {
    margin-bottom: 14px;
}

.calculation-description {
    margin-top: 0px;
}

.team-member {
    width: 326px;
    height: 272px;
    border-radius: 18px;
}

.our-team {
    max-width: 1060px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}

.team-images {

    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-bottom: 88px;


}

.team-images div {
    height: 272px;
}

.title-and-content {
    text-align: center;
    width: 671px;
    margin-bottom: 40px;
}

.name,
.title {
    position: relative;
    top: -70px;
    left: 10px;

}

.name {
    margin-bottom: 0px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0px;
}

.title {
    margin-top: 0px;
    margin-bottom: 0px;
}

footer {
    background: rgb(66, 65, 65);
    display: flex;
    justify-content: center;
     


}

.footer-fitness {
    max-width: 440px;

}

.footer-title {
    font-size: 4.375rem;
    font-weight: bolder;
    color: #E6533C;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-content {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
}

.list-item {
    list-style: none;

}

.links {
    gap: 20px;
    flex-direction: column;
}

.started-title {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 35px;
    margin-top: 0px;
}

.link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.43rem;
    font-weight: 400;
}

.footer-section {
    gap: 100px;
    max-width: 1060px;
    margin-top: 27px;

}
/* .footer-bottom {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.footer-line {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    margin-top: 45px;
}

.rights-reserved {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    padding-bottom: 30px;
    text-align: center;
}

@media only screen and (max-width: 576px){
    header{
        background-color: black;

    }
    .navbar,
    .nav-links,
    .fitness{
        flex-direction: column;
        
    }
    .nav-links{
        padding: 10px;
        gap: 30px;
    }
    .fitness{
        margin: 0px;
    }
    .fitness-content{
        margin: 0 auto;
        justify-items: center;

    }
    .pic-and-box{
        justify-items: center;
    }
    .blur-box-2{
        left: 137px;

    }
}